<ion-content class="ion-padding page-login">
  <div class="login-container">
    <ion-card class="login-card">
      <div class="image-container">
        <div class="login-header">
          <h1 class="ion-text-center">Iniciar Sesión</h1>
        </div>
      </div>

      <ion-card-content>
        <div *ngIf="user; else loginForm">
          <div class="ion-text-center">
            <h3>Bienvenido</h3>
            <p><strong>{{ user.name }}</strong> </p>
          </div>
          <!-- <div class="ion-margin-top">
            <ion-button expand="block" class="btn-salir">Salir</ion-button>
          </div> -->
        </div>

        <ng-template #loginForm>
          <ion-item class="input-item">
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="form.email"
              (ionBlur)="validateEmailField()"
              (ionInput)="hideEmailError()"
            ></ion-input>
          </ion-item>
          <ion-text color="danger" class="error-message" *ngIf="showEmailError">
            Ingresa un correo electrónico válido.
          </ion-text>

          <ion-item class="input-item">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              type="password"
              [(ngModel)]="form.password"
              (ionBlur)="validatePasswordField()"
              (ionInput)="hidePasswordError()"
            ></ion-input>
          </ion-item>
          <ion-text color="danger" class="error-message" *ngIf="showPasswordError">
            Ingresa una contraseña válida.
          </ion-text>

          <ion-row class="ion-margin-top">
            <ion-col>
              <ion-button expand="block" class="btn-iniciar-sesion" (click)="login()">
                <ion-icon name="log-in" slot="end"></ion-icon>
                Iniciar sesión
              </ion-button>
            </ion-col>
          </ion-row>



          <ion-row class="ion-margin-top ion-text-center">
            <ion-col>
              <p>¿No tienes una cuenta?</p>
              <ion-button expand="block" class="btn-registrarse" [routerLink]="['/registro']">
                <ion-icon name="person-add" slot="end"></ion-icon>
                Registrarse
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin-top ion-text-center">
            <ion-col>
              <p>¿Olvidaste tu contraseña?</p>
              <ion-button expand="block" class="btn-recuperar" (click)="goToRecoverPassword()">
                <ion-icon name="lock-closed" slot="end"></ion-icon>
                Recuperar Contraseña
              </ion-button>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
