.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 20px;
}

.login-header {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
  color: #ffdd57;
  text-shadow: 0px 0px 10px #ffdd57;
}

.login-card {
  padding: 30px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 420px;  // Mantén solo uno
}


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

ion-item {
  background: rgba(255, 255, 255, 0.2); // Aumenta ligeramente la opacidad
  border-radius: 10px;
  margin-bottom: 20px;
}


ion-label {
  color: #ffdd57;
  font-weight: 500;
}

ion-input {
  color: #1e1e1e;
}

ion-button {
  margin-top: 10px;
  background: linear-gradient(135deg, #ffdd57, #ffb700);
  color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 215, 0, 0.4);
  transition: transform 0.2s ease;
  width: 100%;  // para hacer el botón más grande en pantallas pequeñas
}

ion-button:hover {
  transform: translateY(-2px);
}

ion-row p {
  color: #ffdd57;
  margin-bottom: 10px;
}
.input-email-password{
  color: #1e1e1e;
}
ion-input::placeholder {
  color: #999;  // Color gris más oscuro para mejor visibilidad
}
