<ion-content class="ion-padding page-login">
  <div class="login-container">
    <!-- Título de Login en la parte superior -->
    <ion-card class="login-card">
      <div class="image-container">
        <div class="login-header">
          <h1 class="ion-text-center">Iniciar Sesión</h1>
        </div>
      </div>

      <ion-card-content>
        <div *ngIf="user; else loginForm">
          <div class="ion-text-center">
            <h3>Bienvenido</h3>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Nombre:</strong> {{ user.name }}</p>
          </div>
          <div class="ion-margin-top">
            <ion-button expand="block" class="btn-salir">Salir</ion-button>
          </div>
        </div>

        <ng-template #loginForm>
          <!-- Campos de Correo y Contraseña -->
          <ion-item class="input-item">
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="text" [(ngModel)]="form.email"></ion-input>
          </ion-item>

          <!-- Mensaje de error para el email -->
          <ion-text color="danger" class="error-message" *ngIf="form.email == null || form.email == ''">
            Ingresa un correo electrónico válido.
          </ion-text>

          <ion-item class="input-item">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="form.password"></ion-input>
          </ion-item>

          <!-- Mensaje de error para la contraseña -->
          <ion-text color="danger" class="error-message" *ngIf="form.password == null || form.password == ''">
            Ingresa una contraseña válida.
          </ion-text>

          <!-- Botón Iniciar Sesión -->
          <ion-row class="ion-margin-top">
            <ion-col>
              <ion-button expand="block" class="btn-iniciar-sesion" (click)="login()">
                <ion-icon name="log-in-outline" slot="end"></ion-icon>
                Iniciar sesión
              </ion-button>
            </ion-col>
          </ion-row>

          <!-- Recuperar Contraseña -->
          <ion-row class="ion-margin-top ion-text-center">
            <ion-col>
              <p>¿Olvidaste tu contraseña?</p>
              <ion-button expand="block" class="btn-recuperar" (click)="goToRecoverPassword()">
                <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
                Recuperar Contraseña
              </ion-button>
            </ion-col>
          </ion-row>

          <!-- Registrarse -->
          <ion-row class="ion-margin-top ion-text-center">
            <ion-col>
              <p>¿No tienes una cuenta?</p>
              <ion-button expand="block" class="btn-registrarse" [routerLink]="['/registro']" color="primary">
                <ion-icon name="person-add-outline" slot="end"></ion-icon>
                Registrarse
              </ion-button>
            </ion-col>
          </ion-row>

          <!-- Mensaje de éxito al iniciar sesión -->
          <!-- <ion-text color="success" *ngIf="loginSuccessMessage">{{ loginSuccessMessage }}</ion-text> -->
        </ng-template>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
