.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-header {
  margin-bottom: 20px;
  font-size: 24px; /* Tamaño más grande para el texto */
  font-weight: bold;
}

.login-card {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1); /* Fondo transparente */
}

.image-container {
  width: 100%;
  height: auto; /* Ajusta automáticamente la altura */
}

.image-wrapper {
  width: 100%;
  height: 100%;
}

.login-image {
  width: 100%;
  height: auto;
  object-fit: contain; /* Mantiene las proporciones sin recortar */
}

ion-button {
  background: #888888; /* Cambia el color a uno más claro */
  color: #ffffff;
  margin-top: 15px; /* Asegura que haya espacio entre los botones */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
