<app-header></app-header>

<ion-content>
  <div class="container">
    <!-- Título del enfrentamiento con borde -->
    <div class="title-container bordered-box">
      <h1 class="title">{{ eventName }}</h1>
      <div class="imagen-container">
        <img
          *ngIf="!ganador"
          [src]="'assets/img/favicon3.png'"
          class="imagen-pulsante"
          alt="Imagen que palpita"
        />
        <img
          *ngIf="ganador"
          [src]="'assets/img/COPA.jpg'"
          class="imagen-completada"
          alt="Imagen de victoria"
        />
      </div>
      <!-- Mensaje de ganador y botón de salida -->
      <div *ngIf="ganador" class="ganador-container">
        <h2>¡El ganador es: {{ ganador }}!</h2>
      </div>
      <!-- Barra de progreso de la meta -->
      <p class="info"><strong>Progreso:</strong></p>
      <ion-progress-bar
        [value]="progressValue / 100"
        color="primary"
      ></ion-progress-bar>
    </div>

    <!-- Lista de participantes con borde negro -->
    <div class="participants-container bordered-box">
      <h3 class="section-title">Jugadores</h3>
      <ion-list>
        <ion-item
          *ngFor="let participante of participantes"
          [id]="'card-' + participante.id"
          [class.animate-points]="participante.id === animatingParticipantId"
          [class.ganador]="participante.name === ganador"
        >
          <ion-avatar slot="start">
            <img
              [src]="participante.photo || 'assets/default-profile.png'"
              (error)="handleImageError($event)"
              alt="{{ participante.name }}"
            />
          </ion-avatar>
          <ion-label>
            <h2>{{ participante.name }}</h2>
            <p>Puntaje: {{ participante.score }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Botón Ronda Ganada -->
    <div *ngIf="!ganador" class="ronda-container">
      <ion-button
        shape="round"
        color="success"
        class="circle-button"
        (click)="incrementarRonda()"
      >
        <ion-icon name="trophy-outline"></ion-icon>
      </ion-button>
    </div>
    <div *ngIf="ganador" class="ronda-container">
      <ion-button
      shape="round"
      color="danger"
      class="exit-button"
      (click)="volverAlInicio()"
    >
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
