.gradient-toolbar {
  background: linear-gradient(135deg, var(--ion-color-primary), var(--ion-color-secondary)); // Fondo gradiente
  color: var(--ion-color-white);

  ion-button {
    color: var(--ion-color-white);
  }

  ion-icon {
    font-size: 1.5rem; // Tamaño predeterminado del icono
  }

  // Ajustes para pantallas pequeñas
  @media (max-width: 768px) {
    ion-icon {
      font-size: 1.3rem; // Ajuste de tamaño para pantallas más pequeñas
    }

    ion-button {
      padding: 5px; // Ajuste de padding en botones
    }
  }
}
