<ion-header>
  <ion-toolbar class="gradient-header">
    <!-- Mostrar el botón de volver solo si no está en menu-principal -->
    <ion-buttons slot="start" *ngIf="currentPage !== '/menu-principal'">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">
      {{ pageTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <!-- Botón para cerrar sesión (oculto si está en la página de recuperar contraseña) -->
      <ion-button
        *ngIf="currentPage !== '/recuperar-contrasena'"
        (click)="confirmLogout()"
        class="texto-logout">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
