<ion-header>
  <ion-toolbar color="dark">
    <!-- Botón de volver, solo visible si no está en el menu-principal -->
    <ion-buttons slot="start" *ngIf="currentPage !== '/menu-principal'">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Título de la página -->
    <ion-title class="titulo">
      {{ pageTitle }}
    </ion-title>

    <!-- Botón de cerrar sesión, oculto en la página de recuperar contraseña -->
    <ion-buttons slot="end">
      <ion-button *ngIf="currentPage !== '/recuperar-contrasena'" (click)="confirmLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
