.solid-header {
  background-color: #2a2c41;
  color: var(--ion-color-white);

  ion-button {
    color: var(--ion-color-white);
  }

  ion-title {
    color: var(--ion-color-white);
    font-weight: bold;
    font-size: 1.8rem;
  }

  ion-icon {
    font-size: 1.5rem;
  }

  // Ajuste para aplicar color rojo específicamente a los iconos con `icono-notificacion-rojo`
  ion-icon.icono-notificacion-rojo {
    color: red;
  }

  @media (max-width: 768px) {
    ion-title {
      font-size: 1.4rem;
    }

    ion-icon {
      font-size: 1.2rem;
    }
  }
}
