<ion-header>
  <ion-toolbar>
    <!-- Mostrar el botón de volver solo si no está en menu-principal -->
    <ion-buttons slot="start" *ngIf="currentPage !== '/menu-principal'">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ pageTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <!-- Botón para cerrar sesión -->
      <ion-button (click)="confirmLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
