<ion-list>
  <ion-item *ngFor="let message of messages | async" class="message-item">
    <ion-avatar slot="start">
      <img [src]="message.userPhotoUrl" alt="{{ message.username }}">
    </ion-avatar>
    <ion-label>
      <h2>{{ message.username }}</h2>
      <p>{{ message.content }}</p>
      <p>{{ message.timestamp | date: 'short' }}</p>
    </ion-label>
  </ion-item>
</ion-list>

<form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="chat-form">
  <ion-item lines="none" class="input-item">
    <ion-input formControlName="message" placeholder="Escribe un mensaje..." type="text" clearInput></ion-input>
    <ion-icon slot="end" name="send-outline" (click)="sendMessage()" class="send-icon"></ion-icon>
  </ion-item>
</form>
