/* Estilo para la barra de búsqueda */
.search-bar {
  margin: 10px auto;
  border-radius: 20px;
  background-color: #f0f0f5;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  max-width: 600px;

  ion-input {
    flex: 1;
    padding: 8px 15px;
    border-radius: 20px;
    background: transparent;
    font-size: 16px;
    color: #333;
  }

  ion-icon {
    margin-right: 10px;
    font-size: 1.2em;
    color: var(--ion-color-medium);
  }
}

/* Estilo para la barra de filtro */
.filter-bar {
  margin: 10px auto;
  background-color: #f0f0f5;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  width: 100%;
  max-width: 600px;
}

/* Contenedor principal para ser responsivo */
ion-content.responsive-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

/* Estilos para las tarjetas de club */
ion-card.custom-card {
  margin: 10px;
  padding: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  transition: background-color 0.3s ease;
  width: calc(100% - 20px);
  max-width: 800px; /* Ajuste para pantallas grandes */

  &:hover {
    background-color: rgba(255, 255, 255, 0.95);
  }
}

/* Alternar colores en las tarjetas de club */
ion-card.odd-item {
  background-color: #ff724c;
}

ion-card.even-item {
  background-color: #fdbf50;
}

/* Centrando y alineando elementos */
.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trophies-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Avatar circular para el logo del club */
ion-avatar {
  width: 60px;
  height: 60px;

  img {
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
  }

  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
  }

  @media (max-width: 480px) {
    width: 40px;
    height: 40px;
  }
}

/* Estilos para los labels */
ion-label h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: var(--ion-text-color);
}

ion-label p {
  font-size: 0.9rem;
  color: var(--ion-text-color-step-600);
}

/* Media Queries para hacer responsivo */
@media (max-width: 768px) {
  ion-card.custom-card {
    max-width: 100%;
    padding: 10px;
  }

  ion-label h2 {
    font-size: 1rem;
  }

  ion-label p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  ion-label h2 {
    font-size: 0.9rem;
  }

  ion-label p {
    font-size: 0.7rem;
  }
}

/* Media Queries para pantallas medianas y grandes */
@media (min-width: 767px) {
  .search-bar,
  .filter-bar {
    max-width: none; /* Elimina la restricción de ancho */
    width: 100vw; /* Ocupar el 100% del ancho de la pantalla */
    margin: 10px 0; /* Ajuste del margen para que ocupe todo el ancho */
    border-radius: 0; /* Elimina el borde redondeado para que se vea natural ocupando todo el ancho */
  }
}

/* Media Queries para pantallas grandes */
@media (min-width: 1024px) {
  ion-content.responsive-content {
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
  }

  ion-card.custom-card {
    max-width: 60%; /* Ocupar el 60% del contenedor en pantallas grandes */
    margin: 20px auto;
  }

  ion-avatar {
    width: 80px;
    height: 80px;
  }

  ion-label h2 {
    font-size: 1.4rem;
  }

  ion-label p {
    font-size: 1rem;
  }
}
