<ion-header>
  <ion-toolbar>
    <ion-title>Clubes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Agregar un nuevo club</h2>
  <form (ngSubmit)="agregarClub()">
    <ion-item>
      <ion-label position="floating">Nombre del Club</ion-label>
      <ion-input [(ngModel)]="nuevoClub.nombreClub" name="nombreClub" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="nuevoClub.descripcion" name="descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Máximo de Miembros</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoClub.maxMiembros" name="maxMiembros"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Seleccionar Deporte</ion-label>
      <ion-select [(ngModel)]="selectedDeporte" name="selectedDeporte">
        <ion-select-option *ngFor="let deporte of deportes$ | async" [value]="deporte.nombre">
          {{ deporte.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-col size="6" class="iconos-grandes">
      <ion-button expand="block" fill="clear" (click)="selectFromGallery()">
        <ion-icon slot="icon-only" name="image-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-button expand="full" type="submit">Agregar Club</ion-button>
  </form>

  <h2>Lista de Clubes</h2>
  <ion-list>
    <ion-item *ngFor="let club of clubes$ | async">
      <ion-label>
        <h3>{{ club.nombreClub }}</h3>
        <p>{{ club.descripcion }}</p>
        <img *ngIf="club.logo" [src]="club.logo" alt="Logo del Club" width="100" height="100">
        <p><strong>Deporte:</strong> {{ club.deporteNombre[0] }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
