<app-header></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <!-- Título de Aprobados -->
    <ion-row>
      <ion-col size="12">
        <ion-item-divider class="custom-divider espera">
          <ion-label>
            <h2>Eventos Inscritos</h2>
          </ion-label>
        </ion-item-divider>
      </ion-col>
    </ion-row>

    <!-- Lista de Eventos Inscritos -->
    <ion-row *ngFor="let evento of eventosAprobadosOInscritos">
      <ion-col size-md="6" size-lg="4" size-sm="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ evento.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Fecha:</strong> {{ evento.fechaReservada }}</p>
            <p><strong>Hora:</strong> {{ evento.hora }}</p>
            <p><strong>Disponibilidad:</strong> {{ evento.espera ? 'Disponible' : 'No Disponible' }}</p>
            <p><strong>Sector:</strong> {{ evento.sectorNombre }}</p>

            <ion-button *ngIf="evento.idAlumno === idAlumno" expand="full" color="danger" (click)="eliminarEvento(evento)">
              Cancelar evento
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <!-- Título de En Espera -->
    <ion-row>
      <ion-col size="12">
        <ion-item-divider class="custom-divider espera">
          <ion-label>
            <h2>En Espera</h2>
          </ion-label>
        </ion-item-divider>
      </ion-col>
    </ion-row>

    <!-- Eventos en Espera -->
    <ion-row *ngFor="let evento of eventosEnEspera">
      <ion-col size-md="6" size-lg="4" size-sm="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ evento.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Fecha:</strong> {{ evento.fechaReservada }}</p>
            <p><strong>Hora:</strong> {{ evento.hora }}</p>
            <p><strong>Disponibilidad:</strong> {{ evento.espera ? 'Disponible' : 'No Disponible' }}</p>
            <p><strong>Hora:</strong> {{ evento.sectorNombre }}</p>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-item-divider class="custom-divider admin">
          <ion-label>
            <h2>Eventos Administrados</h2>
          </ion-label>
        </ion-item-divider>
      </ion-col>
    </ion-row>

    <!-- Lista de Eventos Administrados -->
    <ion-row *ngFor="let evento of eventosAdminInscritos">
      <ion-col size-md="6" size-lg="4" size-sm="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ evento.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Fecha:</strong> {{ evento.fechaReservada }}</p>
            <p><strong>Hora:</strong> {{ evento.hora }}</p>
            <p><strong>Sector:</strong> {{ evento.sectorNombre }}</p>
            <!-- Agregar más detalles según sea necesario -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>



  </ion-grid>

</ion-content>

<app-footer></app-footer>
