@import "~swiper/swiper-bundle.min.css"; /* Asegúrate de que esta línea esté presente */

/* Quitar padding en ion-content */
ion-content {
  --background: #ffffff;

}

/* Ajustar ion-grid para que no añada padding extra */
ion-grid {
  padding: 0;
}

/* Estilos para las tarjetas de eventos */
.evento-card {
  margin-bottom: 8px; /* Espacio reducido entre tarjetas de eventos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.evento-titulo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #2c3e50;
}

.evento-fecha {
  font-size: 0.9rem;
  color: #7f8c8d;
}

.evento-descripcion {
  margin: 10px 0;
  color: #34495e;
}

.unirse-boton {
  margin-top: 10px;
  border-radius: 8px;
}

/* Ajuste para el primer evento para acercarlo más al título */
.evento-card:first-child {
  margin-top: 5px; /* Espacio reducido al inicio de la lista de eventos */
}

/* Estilos para el título de Eventos Masivos */
.eventosTitulos {
  text-align: center;
  font-size: 1.8rem;
  color: #FF724C;
}

/* Estilos para la galería de noticias */
.noticia-card {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: relative;
}

.image-overlay img {
  width: 100%;
  height: 200px; /* Altura predeterminada para dispositivos móviles */
  object-fit: cover;
}

.overlay-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
}

.overlay-title {
  font-size: 1.2em; /* Tamaño de fuente más pequeño para el título */
  color: #FFFFFF;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
  margin-bottom: 4px; /* Reducir margen inferior */
}

.overlay-description {
  font-size: 0.9em; /* Tamaño de fuente más pequeño para la descripción */
  color: #FFFFFF;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}

/* Estilos para diferentes tamaños de pantalla */

/* Para tabletas (pantallas entre 600px y 900px) */
@media (min-width: 600px) and (max-width: 900px) {
  .image-overlay img {
    height: 350px; /* Ajusta la altura para tabletas */
  }
}

/* Para pantallas más grandes (escritorio) */
@media (min-width: 901px) {
  .image-overlay img {
    height: 400px; /* Ajusta la altura para pantallas de escritorio */
  }
}
