<app-header></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-card class="evento-card" *ngFor="let evento of eventos">
            <ion-card-header>
              <ion-card-title class="evento-titulo">{{ evento.titulo }}</ion-card-title>
              <ion-card-subtitle class="evento-fecha">{{ evento.fechaReservada | date:'fullDate' }}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p class="evento-descripcion">{{ evento.descripcion }}</p>
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <img [src]="evento.image" alt="Imagen del evento">
                </ion-avatar>
                <ion-label>
                  <p><ion-icon name="location-outline"></ion-icon> Sector: {{ evento.sectorNombre }}</p>
                  <p><ion-icon name="people-outline"></ion-icon> Capacidad: {{ evento.capacidadAlumnos }}</p>
                  <p><ion-icon name="person-outline"></ion-icon> Participantes: {{ evento.participants.length }}</p>
                </ion-label>
              </ion-item>
              <ion-button
                class="unirse-boton"
                expand="full"
                fill="solid"
                color="primary"
                [disabled]="evento.participants.length >= evento.capacidadAlumnos || evento.participants.includes(alumnoId)"
                (click)="unirseAlEvento(evento.idEventosAdmin)">
                <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                Unirse al evento
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
