.form-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

input-content {
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

ion-button {
  --background: linear-gradient(135deg, #666666, #000000);
  --color: #eeeeee;
}
