<app-header></app-header>

<ion-content [fullscreen]="true" class="page-content">
  <div class="club-container" *ngIf="club">
    <!-- Sección fija: Card del club -->
    <div class="fixed-club-card">
      <ion-card class="club-card">
        <div class="club-details">
          <ion-avatar class="club-logo">
            <img [src]="club.logo" alt="Logo del Club" />
          </ion-avatar>
          <ion-label class="club-info">
            <h2 class="club-name">{{ club.nombreClub }}</h2>
            <p class="club-description">{{ club.descripcion }}</p>
          </ion-label>
        </div>
        <div class="club-actions">
          <ion-button fill="clear" (click)="verMiembros(club.idClub)">
            <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button *ngIf="isLeader" fill="clear" (click)="goToEditarClub(club.idClub)">
            <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button *ngIf="isLeader" fill="clear" (click)="goToEliminararClub(club.idClub)">
            <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </div>


    <!-- Sección desplazable: Chat -->
    <div class="scrollable-chat">
      <app-club-chat [clubId]="club.idClub"></app-club-chat>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
