<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ club?.nombreClub }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-button expand="block" (click)="verMiembros(club.idClub)">
      Ver Miembros
    </ion-button>
    <div *ngIf="club">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ club.nombreClub }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img [src]="club.logo" alt="Logo del Club" class="club-logo" />
          <p>{{ club.descripcion }}</p>
        </ion-card-content>
      </ion-card>

      <!-- Componente de chat para la interacción en tiempo real -->
      <app-club-chat [clubId]="club.idClub"></app-club-chat>
    </div>
  </ion-content>

</ion-content>

<app-footer></app-footer>
