<app-header></app-header>

<ion-content class="ion-padding">
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="navigateTo('evento-list')">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="navigateTo('evento-add')">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  <br><br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item-divider>Lista de Eventos</ion-item-divider>
          <ion-item *ngFor="let evento of eventosFiltrados">
            <ion-label>
              <h2>{{ evento.titulo }}</h2>
              <p>{{ evento.descripcion }}</p>
              <p>Sector: {{ evento.sectorNombre }}</p>
              <p>Fecha: {{ evento.fechaReservada }}</p>
              <p>
                Estado:
                <span [ngClass]="evento.espera ? 'aprobado' : 'en-espera'">
                  {{ evento.espera ? 'Aprobado' : 'En espera' }}
                </span>
              </p>
            </ion-label>
            <ion-button color="danger" (click)="removeReservation(evento)">
              Eliminar
            </ion-button>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
