<app-header></app-header>

<ion-content class="ion-padding">
  <!-- Lector QR -->
  <div
    *ngIf="qrScannerVisible"
    id="qr-reader"
    style="width: 100%; height: auto; margin-top: 20px"
  ></div>

  <!-- Modal para la lista de jugadores -->
  <ion-modal
    [isOpen]="modalParticipantesAbierto"
    (ionModalDidDismiss)="cerrarListaJugadores()"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cerrarListaJugadores()">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Lista de Participantes</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <!-- Lista de Participantes -->
        <div *ngIf="asistencia.length > 0" style="padding: 20px">
          <h3 style="text-align: center; font-weight: bold">
            Participantes en el evento
          </h3>
          <ion-list>
            <ion-item
              *ngFor="let participante of asistencia"
              lines="none"
              class="participante-item"
            >
              <ion-avatar slot="start">
                <ion-icon
                  [name]="participante.estado ? 'checkmark-circle' : 'alert-circle'"
                  [color]="participante.estado ? 'success' : 'warning'"
                  size="large"
                >
                </ion-icon>
              </ion-avatar>
              <ion-label>
                <h2 style="font-weight: bold">
                  {{ participante.nombre || participante.idAlumno }}
                </h2>
                <p style="color: gray">
                  <span
                    [style.color]="participante.estado ? 'green' : 'red'"
                    [style.fontWeight]="'bold'"
                  >
                    {{ participante.estado ? 'Aceptado' : 'Pendiente' }}
                  </span>
                </p>
              </ion-label>
              <!-- Botón para abrir el modal de reporte -->
              <ion-button
                slot="end"
                fill="clear"
                color="danger"
                (click)="abrirFormularioReporte(participante)"
              >
                <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>

        <!-- Mensaje si no hay participantes -->
        <div
          *ngIf="asistencia.length === 0"
          style="text-align: center; padding: 20px"
        >
          <p>No hay participantes en este evento.</p>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal para el formulario de reporte -->
  <ion-modal
    [isOpen]="modalAbierto"
    (ionModalDidDismiss)="cerrarFormularioReporte()"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cerrarFormularioReporte()">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Reportar Jugador</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <form (ngSubmit)="enviarReporte()">
          <ion-list>
            <ion-item>
              <ion-label>Motivo</ion-label>
              <ion-select
                [(ngModel)]="reporteForm.razon"
                name="razon"
                placeholder="Seleccionar"
              >
                <ion-select-option value="Retraso">Retraso</ion-select-option>
                <ion-select-option value="Mala competitividad"
                  >Mala competitividad</ion-select-option
                >
                <ion-select-option value="Tóxico">Tóxico</ion-select-option>
                <ion-select-option value="Otro">Otro</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Detalles adicionales</ion-label>
              <ion-textarea
                [(ngModel)]="reporteForm.detallesAdicionales"
                name="detallesAdicionales"
                placeholder="Proporcione más detalles (opcional)"
              >
              </ion-textarea>
            </ion-item>
          </ion-list>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button type="submit" color="primary">Enviar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-card-content>
    <ion-card-content>
      <div id="qr-reader" style="width: 100%; height: auto"></div>
    </ion-card-content>
    <ion-item lines="none">
      <ion-label>
        <p>
          <ion-icon name="people-outline"></ion-icon> Total
          <!-- Participantes: {{ totalParticipantes }} -->
        </p>
        <p>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <!-- Participantes Presentes: {{ participantesPresentes }} -->
        </p>
      </ion-label>
    </ion-item>
  </ion-card-content>

  <div style="text-align: center; margin-top: 20px">
    <ion-button (click)="irAEnfrentamiento()">Ir a Enfrentamiento</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <!-- Botón QR -->
        <ion-col>
          <ion-button expand="block" fill="clear" (click)="toggleQrScanner()">
            <ion-icon name="qr-code-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Botón Lista de jugadores -->
        <ion-col>
          <ion-button
            expand="block"
            fill="clear"
            (click)="abrirListaJugadores()"
          >
            <ion-icon name="people-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Botón Chat -->
        <ion-col>
          <ion-button expand="block" fill="clear" (click)="abrirChat()">
            <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
