
<ion-content [fullscreen]="true">
  <ion-card *ngIf="club">
    <ion-card-header>
      <ion-card-title>Miembros de {{ club.nombreClub }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let miembro of club.miembros">
          <ion-avatar slot="start">
            <img [src]="miembro.profile?.photo || 'assets/default-avatar.png'" alt="Avatar" />
          </ion-avatar>
          <ion-label>{{ miembro.profile?.name || 'Sin nombre' }}</ion-label>
          <ion-button *ngIf="isLeader" (click)="confirmarEliminacion(miembro.userId)" slot="end" color="danger" fill="outline">
            Expulsar
          </ion-button>
          <ion-button *ngIf="!isLeader && miembro.userId === currentUserId" (click)="confirmarAbandono()">
            Abandonar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
